/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Lobster|Playfair+Display:900|Raleway:300,400,700');

/* GLOBALS */

p {
  font-family: 'Raleway', sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px #333;
}

.orange-text {
  color: #F8512F;
}

/* HEADER STYLES */

.navbar {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, .45);
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, .45);
}

/* CAROUSEL STYLES */

.item {
  height: 420px;
  background-position: center;
  background-size: cover;
}

#restaurante-img {
  height: 250px;
  transform: translateY(35%)
}

#wood-background {
  background-image: url('../img/wood-2.jpg')
}

#seating-background {
  background-image: url('../img/restaurant-2.jpg');
}

#farm-background {
  background-image: url('../img/farm-2.jpg');
}

.carousel-caption {
  margin-bottom: 8%;
}

.btn-warning {
  background-color: #F8512F;
  border-color: #F8512F;
}

.btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning {
  background-color: #d34326;
  border-color: #d34326;
}

/* OUR STORY SECTION */

#story {
  padding-top: 5%;
}

#story h1.orange-text {
  font-family: 'Lobster', cursive;
  font-size: 56px;
  margin-bottom: 0px;
  margin-top: 12%;
}

#story h1.orange-text~p {
  font-size: 1.4em;
  font-weight: 600px;
}

.year-text {
  position: absolute;
  color: rgba(0, 0, 0, .1);
  font-size: 10em;
  font-family: 'Playfair Display', cursive;
  z-index: 0;
}

.yeaqr-text~p {
  font-weight: 300;
  line-height: 18px;
}
